body {
    margin:0;
    font-family: arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

nav{
    display: flex;
    gap:24px;
}


.connexion{
 text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
}

.obtenir-trello{
    background-color: #0052cc;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.container1{
    display:flex;

}
.inscriptiongauche{
     margin-left: 1rem;
}
.inscriptionimagedroite{
     
    width: 60%;
    
}
.container2{
    align-items: flex-start;
    display: flex;
    margin-left: 1rem;
}

.messageaction{
    display: block;
    position:relative;
    text-align:center;
    width:100;

}
.textebutoncarrousel{
   
}
.boxinbox{
    display: flex;
}
.boxmagic{
    display: flex;
}